<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test thread-count="5" name="TestGC">
  <parameter name="huburl" value="http://localhost:4444/wd/hub"/>
  <parameter name="browser" value="chrome"/>
   <packages>
   <package name="scripts"/>
   </packages>
    </test> <!-- Test -->
   
   <test thread-count="5" name="TestFF">
  <parameter name="huburl" value="http://localhost:4444/wd/hub"/>
  <parameter name="browser" value="firefox"/>
   <packages>
   <package name="scripts"/>
   </packages> 
  </test> <!-- Test -->
</suite> <!-- Suite -->
